{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "node": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "max-len": ["error", 120],
    "no-duplicate-imports": "off",
    "no-restricted-syntax": "off",
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": ["error", {"peerDependencies": true}],
    "flowtype-errors/show-errors": "error"
  }
}
