# IntelliJ, WebStorm, ...
.idea

# Node
node_modules
npm-debug.log

# Project
lib/*
!lib/utils.js
!lib/reporters
lib/reporters/*
!lib/reporters/base.js

# Code Coverage
.nyc_output
coverage

# Temp
.tmp
